@use "colours";

%card-template {
	border-radius: 8px;
	background-color: var(--card-bg);
	overflow: hidden;
	position: relative;
	transition: 0.2s ease-in-out;
	&.interactive {
		cursor: pointer;
		&:hover {
			box-shadow: 0 4px 10px var(--shadow);
		}
	}
}

%button-template {
	padding: 8px 12px;
	border-radius: 4px;
	font-size: 0.95rem;
	font-weight: 100;
	cursor: pointer;
	background-color: var(--brit-blue);
	color: var(--gray-1);
	transition: 0.2s;
	&:hover {
		background-color: var(--accent);
		color: var(--white);
	}
	&:focus {
		outline: 4px solid var(--blue);
		-webkit-focus-ring-color: var(--blue);
		outline-offset: 2px;
		-moz-outline-radius: 2px;
		-webkit-focus-ring-offset: 2px;
	}
}

%eyebrow {
	font-size: 0.7rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	list-style: 110%;
}
