@use "fonts";
@use "colours";
@use "navigation";
@use "cards";
@use "buttons";
@use "templates";

html {
	background-color: var(--gray-3);
	color: var(--primary-text);
}

h4 {
	@extend %eyebrow;
	color: var(--accent);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 2rem;
}

.container-text-pages {
	background-image: url("/images/logo-wallpaper.svg");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;

	container: textpages/ inline-size;
	padding-block-start: 2rem;
	padding-block-end: 2rem;
}

.sidebar-and-content {
	container: sidebarandcontent / inline-size;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-areas: "sidebar content";
	gap: 2rem;
	.container-sidebar-wrapper {
		grid-area: sidebar;
		container: sidebar / inline-size;
		position: relative;
		.container-sidebar-items {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		.container-sidebar {
			position: sticky;
			top: 10rem;
			z-index: 10;
			h3 {
				color: var(--gray-5);
				font-size: 0.8rem;
				font-weight: 700;
				text-transform: uppercase;
				margin-block-end: 1rem;
			}
			.sidebar-item {
				color: var(--primary-text);
				&.selected {
					color: var(--accent);
					font-weight: 700;
				}
				&:hover {
					color: var(--accent);
				}
			}
		}
	}
	.container-content-wrapper {
		grid-area: content;
	}
	@media screen and (max-width: 850px) {
		display: block;
		.container-sidebar-wrapper {
			display: none;
		}
	}
}

.page-header {
	container: pageheader/ inline-size;
	background-color: var(--white);
	color: var(--primary-text);
	min-height: 224px;
	width: 100%;
	padding-block-start: 2rem;
	padding-block-end: 1rem;
	margin-bottom: 4rem;
	h1 {
		font-size: 2rem;
	}
}

.article {
	width: 100%;
}

footer {
	container: footer / inline-size;
	background-color: var(--primary);
	color: var(--slate-3);
	min-height: 200px;
	font-size: 0.8rem;
	padding-block: 2rem;
	.footer-layout {
		container: footerlayout / inline-size;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1rem;
		.footer-part {
			max-width: 30%;
			min-width: 200px;
			flex: 1 1 auto;
			&.large {
				min-width: 350px;
				padding-inline-end: 3rem;
			}
		}
	}

	h4 {
		@extend %eyebrow;
		color: var(--secondary);
	}
	a {
		line-height: 100%;
		&:hover {
			color: var(--accent-cold);
		}
	}
	.footer-rights {
		width: 100%;
		text-align: center;
		padding-block: 2rem;
		.footer-claim {
			font-size: 0.7rem;
			color: var(--tritary);
		}
		.footer-disclaim {
			font-size: 0.5rem;
			color: var(--secondary);
		}
	}
}

.hero-citation {
	--minHeight: 200px;
	padding: 2rem;
	container: citationhero / inline-size;
	min-height: var(--minHeight);
	.hero-text {
		position: relative;
		display: grid;
		place-items: center;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
		height: 100%;
		min-height: var(--minHeight);
	}

	.backplate {
		position: relative;
		max-width: 70% !important;
		padding: 1rem;
		border-radius: 0.5rem;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		gap: 12px;
		z-index: 10;

		h2 {
			@extend .font-hero;
			font-size: 3rem;
			line-height: 95%;
			letter-spacing: -0.05ch;
			text-align: center;
			color: var(--primary-text);
		}

		h3 {
			font-size: 1.5rem;
			text-align: center;
			font-weight: 400;
			line-height: 110%;
		}
	}
}

.hero-image {
	--minHeight: 300px;
	&.image-full,
	&.textual {
		--minHeight: 500px !important;
	}
	container: heroimage / inline-size;
	background-color: var(--white);
	min-height: var(--minHeight, 300px);
	.layout {
		width: 100%;
		position: relative;
		&.image-onside {
			display: grid;
			grid-template-columns: minmax(300px, 50%) minmax(300px, 50%);
			grid-template-rows: 1fr;
			&.image-left {
				grid-template-areas: "heroimage herotext";
			}
			&.image-right {
				grid-template-areas: "herotext heroimage";
			}
			.hero-image {
				grid-area: heroimage;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				display: grid;
				position: relative;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.hero-text {
				grid-area: herotext;
				display: grid;
				place-items: center;
				position: relative;
				max-width: 100%;
				padding: 12px 0;
			}
		}

		&.image-full {
			position: relative;
			overflow: hidden;
			min-height: 500px;

			.hero-image {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 100%;
				min-height: 500px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.hero-text {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: grid;
				place-items: center;
			}
		}
		&.textual {
			position: relative;
			overflow: hidden;

			.hero-text {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: grid;
				place-items: center;
				min-height: 500px;
			}
		}

		.backplate {
			position: relative;
			max-width: 70% !important;
			padding: 1rem;
			border-radius: 0.5rem;

			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			gap: 12px;
			z-index: 10;
			&.transparent {
				background-color: transparent;
				color: var(--primary-text);
			}
			&.dark {
				background-color: rgba(0, 0, 0, 0.2);
				color: var(--white);
				backdrop-filter: blur(10px);
			}
			&.light {
				background-color: rgba(255, 255, 255, 0.3);
				color: var(--black);
				backdrop-filter: blur(10px);
			}
			h2 {
				@extend .font-hero;
				font-size: 3rem;
				line-height: 95%;
				letter-spacing: -0.05ch;
				text-align: center;
				background: linear-gradient(to right, var(--brit-blue), var(--brit-red));
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
			}
			h3 {
				font-size: 1.5rem;
				text-align: center;
				font-weight: 400;
				line-height: 100%;
			}
		}
	}
}

.hero-html {
	font-size: 1rem;
	ul {
		padding: 0.5rem 0;
		list-style-type: none;
		li {
			position: relative;
			padding-left: 1.25em;
			&::before {
				content: "\2713"; // Unicode for tick mark
				position: absolute;
				left: 0;
				color: var(--accent);
			}
		}
	}
}

.grid-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 2rem auto;
	justify-content: center;
}
