@use "colours";
@use "navigation";
@use "cards";
@use "buttons";

html {
	background-color: var(--gray-3);
	color: var(--primary-text);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.sidebar-and-content {
	container: inline-size / sidebarandcontent;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-areas: "sidebar content";
	gap: 2rem;
	.container-sidebar-wrapper {
		grid-area: sidebar;
		container: inline-size / sidebar;
		position: relative;
		.container-sidebar-items {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		.container-sidebar {
			position: sticky;
			top: 10rem;
			z-index: 10;
			h3 {
				color: var(--gray-5);
				font-size: 0.8rem;
				font-weight: 700;
				text-transform: uppercase;
				margin-block-end: 1rem;
			}
			.sidebar-item {
				color: var(--primary-text);
				&.selected {
					color: var(--accent);
					font-weight: 700;
				}
			}
		}
	}
	.container-content-wrapper {
		grid-area: content;
	}
}

.page-header {
	container: inline-size / pageheader;
	background-color: var(--white);
	color: var(--primary-text);
	min-height: 200px;
	width: 100%;
	padding-block-start: 2rem;
	padding-block-end: 1rem;
	margin-bottom: 4rem;
	h1 {
		font-size: 2rem;
	}
}

footer {
	container: inline-size / footer;
	background-color: var(--primary);
	color: var(--slate-3);
	min-height: 200px;
}

.article {
	width: 100%;
}
