@use "colours.scss";
.nav-bar-masthead {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1000;
	padding-block: 1rem;
	box-shadow: 0 2px 4px 0 var(--shadow);
	color: var(--primary-text);
	min-height: 64px;
	background-color: var(--gray-2);
	.nav-bar {
		container-type: inline-size;
		container-name: "nav-bar";
		display: grid;
		grid-template-areas: "logo navmenu cta";
		grid-template-columns: 150px 1fr max-content;
		gap: 4px;
		.nav-bar-logo {
			grid-area: logo;
			background-color: red;
		}
		.nav-bar-navmenu {
			grid-area: navmenu;
			background-color: blue;
		}
		.nav-bar-cta {
			grid-area: cta;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}
